img {
    width: 100%;
    max-width: 1200px;

}

mat-icon {
    position: absolute;
    float: right;
    right: 1rem;
    top: 1rem;
    color: var(--black);
    font-size: x-large;
    font-weight: 700;
    cursor: pointer;
}

mat-dialog-actions {
    height: 74px;
    background-color: var(--white);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

button {
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
}

.btn-filter {
    border: 1px solid var(--border-grey);
}