.shot {
    width: 465px;
    height: 250px;
    border-radius: 10px;
    background-color: var(--border-grey);
    cursor: pointer;
}

.img-zone {
    width: 465px;
    height: 250px;
    border-radius: 10px;
    background-color: aquamarine;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-zone {
    margin-top: auto;
    color: var(--white);
    width: 465px;
    height: 250px;
    transition: ease-in-out .3s;
}

.dummy {
    height: 140px;
}

.hoverable {
    height: 110px;
    margin-top: auto;
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 10px 10px;
    padding: .5rem;
}

.title {
    font-size: large;
    font-weight: 700;
}

.tags {
    margin-top: 1rem;
    overflow-wrap: break-word;
    overflow: hidden;
}

li {
    list-style-type:none;
    float: left;
    margin-left: .2rem;
    margin-bottom: .5rem;
}