<div class="shot d-flex flex-column" *ngIf="shot">
    <div class="img-zone" *ngIf="shot?.shotPictures">
        <img class="thumbnail" *ngIf="shot?.shotPictures.data[0]" src="{{ strapiEnv.baseUrl + shot?.shotPictures.data[0].attributes.formats.small.url}}">
    </div>
    <div class="info-zone d-flex flex-column">
        <span class="title">{{ shot?.title }}</span>
        <span class="username">{{ shot?.username }}</span>
        <div class="tags">
            <li style="height: fit-content;" *ngFor="let tag of shot?.themes">
                <app-theme-tag [tagName]="tag.tagName"></app-theme-tag>
            </li>
        </div>
    </div>
</div>