.art-zone {
    margin: 2rem;
    background-image: url(../../../assets/images/login-bg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

h1 { text-align: center;}

.clickable {
    cursor: pointer;
    color: var(--app-pink);
}
mat-icon {
    height: auto;
}

.input-zone {
    margin-top: 3rem;
}

.inpt{
    width: 480px;
    margin-bottom: 1.5rem;
}

.cta {
    width: 215px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    padding-top: .3rem;
    padding-bottom: .3rem;
    transition: ease-in-out .3s;

    mat-icon {
        vertical-align: sub;
    }
}

.cta:hover {
    background-color: var(--black);
    color: var(--white);
    transition: ease-in-out .3s;
}