h3 {
    margin-bottom: -.2rem;
}

.shot {
    max-height: 80vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.dialog-page {
    overflow-x: hidden;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-color: var(--white);
    background: linear-gradient(141deg, rgba(183, 132, 137, 1) 0%, rgba(228, 147, 179, 1) 43%, rgba(238, 165, 166, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    .avatar-inner {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        text-align: center;
        font-size: 32px;
        color: var(--white);
        font-weight: 300;
        margin-top: -.5rem;
    }
}

.username {
    margin-top: .7rem;
    margin-right: 1rem;
    font-weight: 500;
}

.user-area {
    position: absolute;
    right: 2rem;
}

.tags {
    margin-top: 1rem;
    gap: .5rem;
    color: var(--white);
}

.separator {
    margin-top: 1rem;
    width: 110%;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.galery {
    gap: 1rem;
    margin-top: 2rem;
    padding-bottom: .5rem;
    overflow-x: scroll;
    min-height: 160px;
}

.description {
    min-height: 150px;
}

.images {
    cursor: pointer;
}

.image-item {
    width: auto;
    height: 150px;
    object-fit:cover;
    border-radius: 10px;
}

.objects {
    flex-grow: 1;
    max-height: 200px;
    overflow-y: scroll;
}

.object {
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 18px;
    margin-right: 1.5rem;
}

.data {
    color: var(--app-pink);
}