.input-zone {
    margin-bottom: 2rem;
}

.inpt {
    padding-left: 1rem;
}

textarea {
    min-height: 150px;
}

.separator {
    margin-bottom: 1.5rem;
}
.submit {
    position: absolute;
    right: 0rem;
    background-color: var(--app-pink);
    color: var(--white);
    border: none;
}

.submit:hover {
    background-color: var(--black);
}