/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "../src/styles/settings/_variables.scss";
@import url('./assets/fonts/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html,
body {
    height: 100%;
    overflow-x: hidden;
}

.no-scroll-y {
    overflow-y: hidden;
}

body {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
}

.content {
    padding: 2rem;
}

.page {
    padding: 1.5rem;
    background-color: var(--white);
    color: var(--black);
}

.row {
    bs-gutter-x: 0px;
}

li {
    list-style-type: none
}

.dialog-page {
    padding: 1.5rem;
    background-color: var(--white);
    color: var(--black);
}

.gradient-page {
    padding: 1.5rem;
    background: var(--navy-blue);
    background: linear-gradient(140deg, var(--navy-blue) 0%, var(--light-navy-blue) 41%, var(--turquoise-blue) 68%);
}

h1, h2, h3, h4 {
    font-weight: 800;
    color: var(--black);
    font-family: "ClashDisplay-Semibold", "monospace";
}

h1 {
    font-weight: bold;
    font-size: 34px;
    color: var(--black);
}

.panel {
    background-color: var(--light-navy-blue);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
    border-radius: 10px;
    border: .2px var(--navy-blue) solid;
    color: var(--pastel-yellow);
}

.p1 {
    padding: 1rem;
}

.btn-filter {
    border: 1px solid var(--border-grey);
}

.btn {
    font-weight:600;
    letter-spacing: 2px;
    position: relative;
    font-size: 16px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-bottom: 1rem;
    transition: ease-in-out .3s;
    mat-icon {
        vertical-align:sub;
    }
}

textarea:focus, input:focus{
    outline: none;
}

.btn:hover {
    background-color: var(--black);
    color: var(--white);
    transition: ease-in-out .3s;
}

.inpt {
    border: none;
    border-radius: 10px;
    background-color: var(--input-grey);
    height: 45px;
    padding-left: 2.5rem;
    font-weight: 300;
}

.inpt::placeholder {
    color: var(--placeholder-grey);
}

.input-icons i {
    position: absolute;
}
  
.icon {
    position: absolute;
    height: 40px;
    padding: 12px;
    min-width: 40px;
    color: var(--placeholder-grey);
}

.separator {
    height: 1rem;
    border-bottom: 1px solid var(--border-grey);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    scroll-margin-right: 1em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-grey);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-grey);
  }

  .d2x-dialog-panel{
    width: 100vh !important;
    max-width: 100px;
}

.description {
    margin-top: 1.5rem;
    max-height: 180px;
    overflow-y: scroll;
}

.setup-items {
    padding-top: 1.5rem;
}

.items {
    margin-left: 1.5rem;
    border-right: 1px solid var(--border-grey);
}

.section-title {
    margin-bottom: 1.5rem;
}

.value {
    color: var(--app-pink);
    text-align: end;
}

.config {
    margin-left: 1.5rem;
}