:root {
    --navy-blue: #0F0F0F;
    --light-navy-blue: #232D3F;
    --accent-navy-blue: #1a2231;
    --turquoise-blue: #005B41;
    --hovered-blue: #008170;
    --pastel-yellow: #F1FADA;


    --red: #BE3144;
    --white: white;
    --black: black;
    --border-grey: #EAEAEA;
    --input-grey: #F7F7F7;
    --placeholder-grey: #6A6A6A;
    --app-pink: #eca7c3;
    --accent-green : #74E291
}