:root {
    --navy-blue: #0F0F0F;
    --light-navy-blue: #232D3F;
    --accent-navy-blue: #1a2231;
    --turquoise-blue: #005B41;
    --hovered-blue: #008170;
    --pastel-yellow: #F1FADA;
    --red: #BE3144;
    --white: white;
}