.page {
    padding-top: 4rem;
}

li {
    list-style-type:none;
    margin-left: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    display: inline-block;
}

.shot-list {
    position: relative;
}

.sidenav {
    width: 370px;
}

.status-bar{

}

mat-icon {
    height: auto;
}

.submit {
    background-color: var(--input-grey);
    height: 45px;
    position: absolute;
    right: 2rem;
}

.submit:hover {
    background-color: var(--black);
}

.add-icon {
    vertical-align: bottom;
}

.content-manager {
    margin-top: 4rem;
}

.sorter{

    vertical-align: middle;
    padding-top: 0.25rem;
}

.sort {
    cursor: pointer;
    vertical-align: middle;
}

.right-action {
    position: absolute;
    right: 2rem;
}

.filter {
    margin-left: 1rem;
}

.refresh {
    width: fit-content;
    margin-left: .7rem;
}

.separator {
    width: 100%;
}

.listable {
    height: 100vh;
    overflow-y: scroll;
}