.title-bar {
    position: fixed;
    border-bottom: 1px black solid;
    padding-bottom: .5rem;
    width: 101%;
    margin-left: -2rem;

    .title-label {
        float: left;
        position: relative;
        left: 1rem;
    }
}

.sign-in {
    float: right;
    right: 1rem;
    position: relative;
    background-color: var(--hovered-blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: ease-in-out .3s;
    mat-icon {
        vertical-align:sub;
    }
}

.sign-in:hover {
    background-color: var(--turquoise-blue);
    transition: ease-in-out .3s;
}

.content {
    margin-top: 4rem;
}

.accent {
    color: var(--hovered-blue);
}

.title-label {
    color: var(--pastel-yellow);
    text-decoration: underline var(--hovered-blue) 1px;
    text-underline-offset: 10px;
}

.n-text {
    font-family: 'ClashDisplay-Light';
    font-size:large;
    color: var(--pastel-yellow);
}