<div class="h-100 gradient-page d-flex flex-column">
    <div class="row title-bar d-flex">
        <h2 class="title-label col">SetupHeaven</h2>
        <div class="col ">
            <button class="sign-in">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="perm_identity"></mat-icon>
                Sign in!
            </button>
        </div>
    </div>
    <div class="row content">
        <div class="title panel">
            <div class="n-text">
            <h1 class="accent">Welcome to setup Heaven</h1>
            <span>A place where share and discover new desk setups, get inspiration for your next working / entairtanement space.</span>
            </div>
        </div>
    </div>
</div>
