.left-panel {
    border-right: 1px solid var(--border-grey);
    height: 100vh;
}

.title {
    width: auto;
}

.content {
    width: 100%;
}

.nav-btns {
    margin-top: 4rem;
}

.btn {
    width: 100%;
    text-align: left;
}

.activated {
    background-color: var(--black);
    color: var(--white);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.cta {
    width: 215px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    font-size: 16px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-bottom: 1rem;
    transition: ease-in-out .3s;

    mat-icon {
        vertical-align: sub;
    }
}

.cta:hover {
    background-color: var(--black);
    color: var(--white);
    transition: ease-in-out .3s;
}

.logout-zone {
    margin-top: auto;
    text-align: center;
}

.separator {
    margin-top: 4rem;
    margin-left: -2rem;
    margin-right: -2rem;
}

.user-area {
    margin-top: 2rem;
}

.avatar {
    width: 58px;
    height: 58px;
    border-radius: 50px;
    background-color: var(--white);
    background: linear-gradient(141deg, rgba(183,132,137,1) 0%, rgba(228,147,179,1) 43%, rgba(238,165,166,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    .avatar-inner {
        width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-size: 32px;
    color: var(--white);
    font-weight: 300;
    }
}

.username {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 500;
}

.user-cta {
    margin-top: 2rem;
}