<div class="left-panel d-flex">
    <div class="content d-flex flex-column">
        <div class="title">
            <h1>SetupHeaven</h1>
        </div>
        <div class="nav-btns">
            <button class="btn" [class.activated]="home()">
                <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
                Explore new
            </button>
            <button class="btn" [class.activated]="category()">
                <mat-icon aria-hidden="false" fontIcon="icecream"></mat-icon>
                Category
            </button>
            <button class="btn" [class.activated]="popular()">
                <mat-icon aria-hidden="false" fontIcon="bolt"></mat-icon>
                Popular shots
            </button>
            <button class="btn" [class.activated]="favourites()">
                <mat-icon aria-hidden="false" fontIcon="favorite"></mat-icon>
                Favourites
            </button>
        </div>
        <div class="separator"></div>
        <div *ngIf="_connectedUser | async as connectedUser">
            <div class="user-area d-flex flex-row">
                <div class="avatar">
                    <div class="avatar-inner">
                        {{ connectedUser.username.charAt(0).toUpperCase() }}
                    </div>
                </div>
                <div class="username"> {{ connectedUser.username }}</div>
            </div>
            <div class="user-cta">
                <button class="btn">
                    <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
                    Manage profile
                </button>
                <button class="btn">
                    <mat-icon aria-hidden="false" fontIcon="photo_camera"></mat-icon>
                    My Shots
                </button>
            </div>
        </div>
        <div class="logout-zone">
            <button class="cta" (click)="logout()">
                Logout
            </button>
        </div>
    </div>
</div>